.pipeline_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.stage_col {
    width: 300px;
    margin-top: 40px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.contract_card {
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xxl;
}